<div class="detail-page">
    <a [routerLink]="['/']">
        <button class="back-button"> &#x2190; Back</button>
    </a>
    <div class="countryDetail">
        <div>
            <img src={{detail.flag}} width="360px" height="260px" alt="flag missing" />
        </div>
        <div class="single-country-detail">
            <h2>{{detail.name}}</h2>
            <div class="singleCountry-detail">
                <div>
                    <div>
                        <strong>Native Name : </strong>{{detail.nativeName}}
                    </div>
                    <div>
                        <strong>Population : </strong>{{detail.population}}
                    </div>
                    <div>
                        <strong>Region : </strong>{{detail.region}}
                    </div>
                    <div>
                        <strong>Sub Region : </strong>{{detail.subregion}}
                    </div>
                    <div>
                        <strong>Capital : </strong>{{detail.capital}}
                    </div>
                </div>
                <div>
                    <div>
                        <strong>Top Level Domain : </strong>{{detail.topLevelDomain}}
                    </div>
                    <div>
                        <strong>Currencies : </strong>
                        <span *ngFor="let item of detail.currencies">
                            <span>{{item.name}}</span>
                        </span>
                    </div>
                    <div>
                        <strong>Languages : </strong>
                        <span *ngFor="let item of detail.languages">
                            <span>{{item.name}} </span>
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <div class="border-details">
                    <strong>Border Countries : </strong>
                    <div *ngFor="let item of detail.borders" class="borders">
                        <a [routerLink]="['/name', item]">
                            <button class="border-name" (click)="goto($event.target.innerHTML)">{{item}}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>